
<div class="flex justify-center gap-3 items-center max-w-[350px] px-4 py-2 text-xs text-zinc-800 rounded-lg bg-teal-200 border border-teal-600">
    <%= message %>
    <button _="on click remove the closest <div/>" class="btn btn-circle btn-xs flex justify-center items-center text-zinc-800 bg-transparent border-0 hover:bg-teal-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-5 w-5" fill="none" viewBox="0 0 24 24">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
            </svg>
    </button>
</div>
